.card-item-container{
    display: grid;
   grid-template-columns:600px 600px ;
   align-items: start;
   justify-content: center;
   width: 100%;
   padding-top: 50px;
  
  
   
 }
 .App{
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
 }
 .nav-search{
  font-size: 16px;
  padding: 6px 16px;
  border-radius: 6px;
  background: black;
  color: white;
  border: 1px solid white;
  
}
.nav-search-form{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;  
}
 